@(employees: List[Employee])(bookForm: Form[Employee])

    @layouts.layout("All Employee") {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <div class="jumbotron text-center">
            <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Employee</button>

        </div>

            <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Employee</h4>
                    </div>
                    @helper.form(action = routes.EmployeeController.save) {
                        <div class="modal-body">
                            <div >
                                <form>
                                    <div class="form-group">
                                    @helper.inputText(bookForm("name"), '_showConstraints -> false, '_label -> "Name:", 'class -> "form-control", 'placeholder -> "Enter name")

                                    </div>
                                    <div class="form-group">
                                    @helper.inputText(bookForm("email"), '_showConstraints -> false, '_label -> "Email:", 'class -> "form-control", 'placeholder -> "Enter email")

                                    </div>
                                    <div class="form-group">
                                    @helper.inputText(bookForm("contactNumber"), '_showConstraints -> false, '_label -> "Contact Number:", 'class -> "form-control", 'placeholder -> "Enter contactNumber")

                                    </div>
                                    <div class="form-group">
                                    @helper.inputDate(bookForm("dob"), '_showConstraints -> false, '_label -> "Date of Birth:", 'placeholder -> "Enter DateOfBirth")

                                    </div>

                                    <div class="form-group">
                                    @helper.inputText(bookForm("department"), '_showConstraints -> false, '_label -> "Department:", 'class -> "form-control", 'placeholder -> "Enter department")

                                    </div>

                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                            </div>
                        </div>
                    }
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <div class="table-responsive container">
            <h2 class="text-info">Employee Info</h2>
            <input name="search" class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Department</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>ContactNumber</th>
                        <th>Date of birth</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                @for(employee <- employees) {
                    <tr>
                        <td>@employee.id</td>
                        <td>@employee.department</td>
                        <td>@employee.name</td>
                        <td>@employee.email</td>
                        <td>@employee.contactNumber</td>
                        <td>@employee.dob</td>
                        <td style="width: 170px" class="text-center">
                            <div class="btn-group btn-group-sm">
                                <a href="@routes.EmployeeController.edit(employee.id)" class="btn btn-success">Edit</a>
                                <a href="@routes.EmployeeController.delete(employee.id)" class="btn btn-danger">Delete</a>
                                <a href="@routes.EmployeeController.show(employee.id)" class="btn btn-info">View</a>
                            </div>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>

        <script>
                $(document).ready(function () {
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
        </script>
    }
